<!DOCTYPE html>
<html>
<head>
  <title>Contest3</title>

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>

  <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'blueprint/ie' %>
  <![endif]-->

  <%= stylesheet_link_tag :all %>
  
  <%= javascript_include_tag :defaults %>
  
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <div id="title">TW Concurs 3</div>

    <div id="authors">
      <span>Gagos Radu Vasile</span>
      <span>Cristea Vlad</span>
    </div>
  </div>
  
  <%= yield %>

</body>
</html>
